body {
    background-color: bisque;
    font-family: Bai jamjuree;
}

#container{
    display: flex; /*Elementos dispostos em linha*/
}

.cartão{
    margin: 1rem 1rem;
    background-color: aqua;
    height: 20rem;
    flex-grow: 1;
    flex-basis:calc(33% - 6rem);
}

.cartão_conteúdo{
    text-align: center;
    /*background-color: aquamarine; */
    height: 100%;
}

.cartão_conteúdo h3{
    background-color: tomato;
    text-align:left;
    padding:0.5rem;
    position:absolute;
    margin: 0.6rem;
    border-radius: 0.6rem;
    font: size 1vw;
}

.cartão_conteúdo p {
    margin-top: 1rem;
    padding: 2rem;
}







footer{
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
}

footer p{
    text-align: center;
    font-size: 0.6rem;
    margin-top:0.5rem;
}